@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<iframe width="420" height="345" src="https://youtu.be/wTgrZE9RWNY?t=16"></iframe>